select.error,
textarea.error,
input[type="text"].error,
input[type="password"].error,
input[type="datetime"].error,
input[type="datetime-local"].error,
input[type="date"].error,
input[type="month"].error,
input[type="time"].error,
input[type="week"].error,
input[type="number"].error,
input[type="email"].error,
input[type="url"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="color"].error {
    border-color: #e48c85
}
.custom-error-msg {
    position: absolute;
    left: 100%;
    top: 61%;
    z-index: 100;
    width: auto;
    background: #a5010d;
    padding: 8px 6px;
    color: #fff;
    font-size: 10px;
    line-height: 1;
    margin-top: -13px;
    margin-left: 10px;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.da-home-form label.error {
    position: absolute;
    left: 100%;
    top: 50%;
    z-index: 100;
    width: auto;
    background: #a5010d;
    padding: 8px 6px;
    color: #fff;
    font-size: 10px;
    line-height: 1;
    margin-top: -13px;
    margin-left: 10px;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3)
}
.da-home-form label.error:after {
    height: 0;
    width: 0;
    border: 6px solid transparent;
    border-right-color: #a5010d;
    position: absolute;
    right: 100%;
    top: 50%;
    content: '';
    margin-top: -6px
}
.callout {
    margin: 10px!important;
}
.FieldsMarked {
    text-align: right;
}
.required {
    color: red;
    font-weight: normal!important;
}
.btn-info,
.btn-default {
    margin: 5px;
    min-width: 100px;
}
label.label_span {
    margin-left: 20px;
}
#login .form-control-feedback {
    top: 0px!important;
    z-index: 0;
}
.headertitle {
    float: left;
    width: 55%;
    min-height: 50px;
}
.headerbutton {
    width: 45%;
    float: right;
    text-align: right;
}
.headertitle h1 {
    padding-top: 5px;
}
h1 {
    font-size: 24px;
    margin: 0px;
}
.TextCenter {
    text-align: center!important;
}
.fa-fw {
    font-size: 20px!important;
}
.sidebar-menu li>a>.fa-angle-left {
    margin-right: 37px!important;
}
#display_order {
    width: 40px;
}
.smallDropDown {
    width: 100px;
}
@media (min-width: 200px) and (max-width: 500px) {
    h1 {
        font-size: 17px;
    }
}
.content-header {
    display: flex;
}
/* Header Color Change*/

.skin-blue .main-header .navbar {
    background-color: transparent!important;
}
.skin-blue .main-header .logo {
    background-color: transparent!important;
}
.skin-blue .main-header li.user-header {
    background-color: #FFF!important;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    color: #000!important;
}
.skin-blue .main-header .navbar .nav>li>a {
    color: #000!important;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #000!important;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #f03b1f!important;
}
.main-header {
    border-bottom: solid 5px #e92c55!important;
    max-height: 105px!important;
}
.tableformat th:last-child {
    font-weight: normal!important;
}
.tableformat th:first-child {
    background: #f8fafc;
}
.qualification-tbl th{
	 background: #f8fafc;
}
.dataTables_empty {
    text-align: center;
}
.poiter {
    cursor: pointer;
}
.date {
    float: none!important;
    display: inline-block !important;
}
.duration {
    width: 80px!important;
    float: none!important;
    display: inline-block !important;
}

    .main-header {
        max-height: 170px!important;
        background-color: #fff!important;
    }

@media (min-width: 760px) and (max-width: 2000px) {
    .main-sidebar,
    .left-side {
        padding-top: 50px!important;
    }
    .main-header .logo {
        height: 145px!important;
    }
    .sidebar {
        padding-top: 120px!important;
    }
    .main-sidebar {
        width: 300px!important;
    }
    .content-wrapper,
    .right-side,
    .main-footer,
    .main-header>.navbar {
        margin-left: 300px!important;
    }
    .logo {
        width: 300px!important;
    }
    .logo-lg {
       /* padding-top: 18px;*/
	   padding-top: 25px;
    }
}
.button_disable {
    padding: 5px 10px;
    text-align: center;
    background-color: #CCC;
    color: #666;
    border: 1px transparent solid;
    cursor: default;
    display: inline-block;
    outline: none;
    font-size: 14px;
    line-height: 16px;
    margin: auto;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
   /* margin-left: 10px;*/
}
.button {
    padding: 5px 10px;
    text-align: center;
    background-color: #e92c55;
    border-color: #e81241;
    color: #ffffff;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    outline: none;
    font-size: 14px;
    line-height: 16px;
    margin: auto;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
   /* margin-left: 15px;*/
}
.button:hover {
    color: #00000;
}
.modal-dialog {
    position: absolute;
    top: 40%;
    left: 30%;
    right: 30%;
}
.modal-body {
    text-align: center;
    font-size: x-large;
}
.modal-title {
    font-size: 24px;
    color: #e92c55;
}
.modal-header {
    border-bottom-color: #e92c55!important;
}
.btn-primary {
    height: 35px;
    width: 75px;
}
/*login page css*/

.admintext {
    font-size: 48px;
    color: #fff;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    /* padding-left: 330px; */
    
    width: 78%;
}
@media (min-width: 299px) and (max-width: 1190px) {
    .admintext {
        display: none;
    }
}
.header {
    background-color: #fff;
}
div#da-logo-wrap {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 50px;
}
#da-footer {
    background: #fff;
    border-top: 1px solid #CCC;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.da-container p {
    margin-top: 10px;
}
.da-container.clearfix {
    border-bottom: 5px solid #808080;
}
@media (max-width: 768px) {
    .admintext {
        display: none!important;
    }
}
@media (max-width: 759px) {
   /* span.logo-lg img {
        width: 25%;
    }*/
}
@media (min-width: 760px) {
    a.sidebar-toggle {
        display: none;
    }
}
.content {
    height: auto !important;
}
.TextRight {
    text-align: right!important;
}
.loadingPanel {
    background-image: url(images/loader_img.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.85);
    cursor: wait;
    text-align: center;
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
.msg-error {
    text-align: center;
}
.check-design {
    margin-left:30px;
    width: 100%;
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
}
.scroll-caourses {
    width: 94%;
    overflow: auto;
    max-height: 250px;
    margin-left: 15px;
    border: 1px solid #d2d6de;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-x: hidden;
}
.clearboth {
    clear: both;
}

.da-home-form label.errorCK {
    position: absolute;
    left: 100%;
    top: 50%;
    z-index: 100;
    width: auto;
    background: #a5010d;
    padding: 8px 6px;
    color: #fff;
    font-size: 10px;
    line-height: 1;
    margin-top: -13px;
    margin-left: 10px;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.da-home-form label.errorCK:after {
    height: 0;
    width: 0;
    border: 6px solid transparent;
    border-right-color: #a5010d;
    position: absolute;
    right: 100%;
    top: 50%;
    content: '';
    margin-top: -6px
}
.icon-featured {
    border-radius: 100%;
    color: #FFF;
    font-size: 40px;
    line-height: 110px;
    margin: 25px 0;
    padding: 25px;
    display: inline-block;
    padding: 0;
    width: 110px;
    height: 110px;
    text-align: center;
}
i.icon-featured {
    background-color: #006890;
}
img {
    vertical-align: middle;
    margin-bottom: 10px;
    line-height: 110px;
}
.paddingtop5 {
    padding-top: 8px;
}
.floatright {
    float: right;
}
.paddingright5 {
    padding-right: 10px;
}
#ui-datepicker-div {
    z-index: 111!important;
}
@media (min-width: 299px) and (max-width: 500px) {
    /*#da-footer {
    position: relative !important;
}
*/
}
@media (max-width: 328px) {
    #da-footer {
        padding: 0px 0;
    }
}
.type-of-icon-div {
    margin-top: 7px;
}
.admin-img {
    max-width: 125px;
    margin-bottom: 0px;
}
span.ref-class-link {
    padding-left: 25px;
}

.dataTables_wrapper .dataTables_processing{
	position: absolute!important;
	top: 50%!important;
	right: 0!important;
	bottom: 0!important;
	margin-left: 50%!important;
	margin-top: 15px!important;
	background:none;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
}

.dataTables_processing > div {
 content: "";
  width: 10px;
  height: 10px;
  background: #2196F3;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}
.dataTables_processing > div:nth-of-type(1) {
  -webkit-animation-delay: -.4s;
          animation-delay: -.4s;
}
.dataTables_processing > div:nth-of-type(2) {
  -webkit-animation-delay: -.8s;
          animation-delay: -.8s;
}
.dataTables_processing > div:nth-of-type(3) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.dataTables_processing > div:nth-of-type(4) {
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

@-webkit-keyframes animate {
  0% {
    left: 100px;
    top: 0;
  }
  80% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -10px;
    width: 10px;
    height: 10px;
  }
  90% {
    width: 40px;
    height: 15px;
  }
  95% {
    left: 100px;
    top: -10px;
    width: 10px;
    height: 10px;
  }
  100% {
    left: 100px;
    top: 0;
  }
}

@keyframes animate {
  0% {
    left: 100px;
    top: 0;
  }
  80% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -10px;
    width: 10px;
    height: 10px;
  }
  90% {
    width: 20px;
    height: 10px;
  }
  95% {
    left: 100px;
    top: -10px;
    width: 10px;
    height: 10px;
  }
  100% {
    left: 100px;
    top: 0;
  }
}
button.float-right {
    float: right;
    background-color: #337ab7;
    color: #fff;
    border: none;
}
.admin-grid-img{
	max-width:150px; margin-bottom:0px;
}
.image-admin-display {
    max-width: 400px;
    margin-bottom: 0px;
	max-height:100px;
}
.input-group {
    padding-left: 15px!important;
    padding-right: 15px!important;
}
.profile_image {
    width: 100px;
}
.banner-img-class {
	max-width:300px;
	max-height:200px;
}
.grid_textarea {
    width: 100%;
}
.error_occured {
	text-align:center;
	font-size:24px;
}
.banner_edit_class{
	width:600px;
}
.input-group-addon {
    width: 34px!important;
    padding: 3px 12px;
}
.publisher-banner-div span.input-group-addon {
   display: inline-block;
    width: 35px;
    height: 34px;
    margin-bottom: 4px;
   line-height: 20px;
    border-radius: 0px;
	    padding: 6px 10px;
}
.banner_box_size {
    width: 100px!important;
    float: none!important;
    display: inline-block !important;
}
.pageBg{
	max-height:400px;
	max-width:500px;
}
.scroll-box {
    width: 100%!important;
    height: 250px;
    margin-left: 0px;
    border: 1px solid #d2d6de;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
	padding-top: 15px;
}
.check-design.category-checkbox {
    width: 40%;
}
.form-group input[type='checkbox'] {
       height: 20px;
    width: 20px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 0px;
	
}
.form-group input[type='radio'] {
    width: 20px;
    cursor: pointer;
}
.check-design.category-checkbox input{
	    vertical-align: middle;
    margin-top: -1px;
}
.sorting_disabled
{
	padding-right:8px!important;
}
.image-collection-display {
  
    max-width: 500px;
  
}

aside.main-sidebar {
    height: 800px !important;
	overflow-y: scroll !important;  
}
.collection-bg{
background-color: #000;
}
/*.website_logo{
	    width: 100px;
}*/
span.disable-class {
    color: #d0e7ef!important;
    cursor: default;
}
.logo-center-bg{
	    background-color: #ff8000 !important;
}

.streaming-div {
    margin-top: 7px;
}
.page-check-design {
    width: 50%;
    float: left;
    margin-top: 5px;
}
.streaming-div {
    margin-top: 7px;
	height: 275px;
    overflow-y: scroll;
	border: 1px solid #d2d6de;
	margin-left:15px;
	    padding-top: 15px;
    padding-bottom: 15px;
}
.teamsDiv {
    width: 100%;
}
.page-check-design input {
    vertical-align: middle;
    margin-top: 0px;
}
.leftmenu-active{
    color: #fff!important;
}
.download_center_pdf i.fa.fa-download {
    font-size: 35px;
}
video.image-video-display {
    max-width: 300px;
	border:1px solid #d1d1d1;
}
.select-control {
    width: 250px;
}
.order-box {
        width: 40px;
    display: inline-block;
    margin: 0px 10px;
    padding: 0px 12px;
}
@media (min-width: 299px) and (max-width: 500px) {
.page-check-design {
    width: 100%;
    float: left;
    margin-top: 5px;
}
}
.modal-dialog-p {
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
}
.grey{
	background-color: #eae5e5;
    margin: 10px 0px 10px 0px;
	line-height: 2;
    padding-left: 10px;
}
.remove-logo:hover{
	color:#ff7000;
	text-decoration:underline;
}
.teams-check-design {
    width: 50%;
    float: left;
}
.dt-buttons {
    float: right!important;
}
.error{
	color:red;
}
.age_from_div {
    display: inline-block;
    margin-right: 20px;
}
.age_to_div {
    display: inline-block;
	    margin-bottom: 10px;
}
.filter-button {
    text-align: center;
    margin: 10px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #d1d1d1;
}
.filter-button button {
    width: 100px;
    font-size: 15px;
    font-weight: bold;
}